.aboutContainer{
    text-align: center;
    background-color: #F7C052;
    padding: 100px;
    color: white;
}

.about-content{
    p{
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
    }
}