.aboutContainer{
    text-align: center;
    background-color: #F7C052;
    padding: 100px;
    color: white;
}

.aboutContent{
    p{
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
    }
}

@media(max-width:700px){
    .aboutContainer{
        padding: 50px 30px 50px 30px;
    }
}