.footer{
     background-color: #C059BD;
     text-align: center;
     color: white;
     padding: 20px 0;
     p{
         margin: 0;
     }
     a{
         color: white;
         text-decoration: none;
     }
}