.header{
    width: 100%;
    background-color: #C059BD;
    padding: 15px 0 15px 0;
    color: #ffffff;
}

.header-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.header-menu-item{
    margin: auto 20px;
    transition: .3s ease;
    font-size: 1.2rem;
    &:hover{
        transform: scale(1.2);
    }
}