.menuContainer{
    width: 100%;
}

.menu{
    padding-top: 20px;
    h2{
        text-align: center;
        border-top: 3px double black;
        border-bottom: 3px double black;
        padding: 10px;
        margin-top: 30px;
    }
}


.menuImages{
    display: flex;
    img{
        margin: auto;
        max-width: 1000px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.menuContent{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.menuFood{
    width: 300px;
    text-align: center;
    border: 3px solid black;
    padding: 15px;
    margin: 20px auto 20px auto;
    h3{
        border-bottom: 3px solid black;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: 10px;
            font-family: 'Lobster', cursive;
            font-size: 1.2rem;
        }
    }
}

.menuFood-a{
    margin: auto;
}


@media(max-width:700px){
    .menuImages{
        img{
            margin: auto;
            max-width: 600px;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

@media(max-width:400px){
    .menuImages{
        img{
            max-width: 375px;
        }
    }
}